@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	text-align: left;
	background-color: #848688;
	width: 100%;}

article {
	background-color: #A8518A;
}

footer {
	background-color: #D2D3D5;
	margin: 0em;
	text-decoration: none;
	}

div, section {
	background-color: #848688;
	padding: 1em;
	width: 100%;
	height: 20%;
}
p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: 000;
	float: left;
	line-height: 1.2em;
	margin: 1em;
	padding: 1.5em;
}

strong { 
	font-weight: small-caps;
}

nav {
	background-color: #A8518A;
	font-family: 'Droid Sans', sans-serif;
	text-decoration: none;
	width: 65%;
}

a {
	background-color: #A8518A;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: white;
	text-decoration: none;
	margin: 1em;
}
a:hover {
	background-color: #D2D3D5;
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin: 2em;
}
.menu {
	float: left;
	text-decoration: none;
	margin-top: 5em;
	margin-bottom: 1.5em;
	padding: 1em;
	width: 20%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
#top {
	background-color: #D2D3D5;
	width: 100%;
	}
.logo {
	float: right;
	background-color: none;
	margin: 2em;
	padding: 1.5em;
	width: 25%
}
.hamburger { display: none;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
}

/*Create two equal columns that sits next to each other*/
.column {
	flex: 25%;
	max-width: 25%;
	padding: 8px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}


@media (max-width: 1174px) {
	.menu {
		padding: 0.5em;
	}

}

@media (max-width: 1140px) {
	.menu {
		padding: 0.2em;
	}
	.logo {
		margin: 1em;
		padding: 0.5em:;
	}
}

@media (max-width: 900px) {
	a {
		font-size: 0.9em;
		margin: 2.5em;
	}
	.menu {
		float: none;
		padding: 0.5em;
		margin: 0em;
		width: 100%;
	}

	.logo {
		float: none;
		display: block;
		margin: 1em 1em 1em 12em;
		padding: 1em;
		width: 50%;
	}
	.me {
		float: none;
		display: block;
		margin: 1em 0em;
		padding: 1em;
		width: 100%;
	}
	.collage {
		float: none;
		display: block;
		margin: 0em;
		padding: 0em;
		width: 100%;
	}
	.column {
		flex: 50%;
		max-width: 50%;
	}

}
@media (max-width: 768px) {
	a {
		margin: 2em;
	}
	.column {
		flex:100%;
		max-width: 100%;
	}
}
@media (max-width: 414px) {
	
	a {
		margin: 0.5em;
		font-size: 0.7em
	}
	a:hover {
		margin: 0.5em:;
	}
	.logo {
		display: block;
		float: none;
		margin-left: 2em;
		width: 70%;
	}

}
@media (max-width: 375px) {
	.logo {
		float: left;
		width: 60%;
		margin: 0em;
		padding: 1em;
	}
	.menu {
		float: right;
		display: none;
		width: 35%;
		padding: 1em;
		height: 9em;
		overflow: hidden;
	}
	
	.hamburger {
		display: block;
		float: right;
		width: 20%;
		padding: 1em;
		margin-top: 1.5em;
		color: #A8518A;
		background-color: #D2D3D5;
		cursor: pointer;
	}

	.cross {
		display: block;
		float: right;
		width: 20%;
		padding: 1em;
		margin-top: 1.5em;
		color: #A8518A;
		background-color: #D2D3D5;
		cursor: pointer;
	}
}